
input[type="text"],
input[type="number"] {
    width: 200px;
}

td {
    border: 1px solid black;
    padding: 0px;
    width: 200px
}

.display-cookie-table {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

.add-cookie-table {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
